[submodule "senaite.core"]
	path = senaite.core
	url = https://github.com/senaite/senaite.core.git
[submodule "senaite.app.listing"]
	path = senaite.app.listing
	url = https://github.com/bikalims/senaite.app.listing.git
	branch = release-04
[submodule "senaite.app.spotlight"]
	path = senaite.app.spotlight
	url = https://github.com/senaite/senaite.app.spotlight.git
	branch = 2.x
[submodule "senaite.app.supermodel"]
	path = senaite.app.supermodel
	url = https://github.com/senaite/senaite.app.supermodel.git
	branch = 2.x
[submodule "senaite.impress"]
	path = senaite.impress
	url = https://github.com/senaite/senaite.impress.git
	branch = 2.x
[submodule "senaite.jsonapi"]
	path = senaite.jsonapi
	url = https://github.com/senaite/senaite.jsonapi.git
	branch = 2.x
[submodule "senaite.lims"]
	path = senaite.lims
	url = https://github.com/senaite/senaite.lims.git
	branch = 2.x
[submodule "senaite.storage"]
	path = senaite.storage
	url = https://github.com/senaite/senaite.storage.git
[submodule "senaite.instruments"]
	path = senaite.instruments
	url = https://github.com/bikalims/senaite.instruments.git
[submodule "bika.ui"]
	path = bika.ui
	url = https://github.com/bikalims/bika.ui.git
	branch = 2.x
[submodule "bika.coa"]
	path = bika.coa
	url = https://github.com/bikalims/bika.coa.git
	branch = 2.x
[submodule "bika.extras"]
	path = bika.extras
	url = https://github.com/bikalims/bika.extras.git
[submodule "bika.reports"]
	path = bika.reports
	url = https://github.com/bikalims/bika.reports.git
	branch = develop
[submodule "senaite.crms"]
	path = senaite.crms
	url = https://github.com/bikalims/senaite.crms.git
[submodule "senaite.sampleimporter"]
	path = senaite.sampleimporter
	url = https://github.com/bikalims/senaite.sampleimporter.git
[submodule "senaite.samplepointlocations"]
	path = senaite.samplepointlocations
	url = https://github.com/bikalims/senaite.samplepointlocations.git
[submodule "senaite.timeseries"]
	path = senaite.timeseries
	url = https://github.com/bikalims/senaite.timeseries.git
	branch = release-04
[submodule "bika.wine"]
	path = bika.wine
	url = https://github.com/bikalims/bika.wine.git
[submodule "senaite.receivedemail"]
	path = senaite.receivedemail
	url = https://github.com/bikalims/senaite.receivedemail.git
