[buildout]
index = https://pypi.org/simple/
extends = https://dist.plone.org/release/5.2.15/versions.cfg
find-links =
  https://dist.plone.org/release/5.2.15/
  https://dist.plone.org/thirdparty/
parts =
  instance
eggs =
  senaite.lims
  senaite.core
  senaite.app.listing
  senaite.app.spotlight
  senaite.app.supermodel
  senaite.impress
  senaite.jsonapi
  senaite.storage
  senaite.instruments
  bika.ui
  bika.coa
  bika.extras
  bika.reports
  senaite.crms
  senaite.sampleimporter
  senaite.samplepointlocations
  senaite.timeseries
  bika.wine
  senaite.receivedemail
  senaite.addon.test
  senaite.samplecustom
eggs-directory = eggs
download-cache = downloads
develop =
  add-ons/senaite/senaite.core
  add-ons/senaite/senaite.lims
  add-ons/senaite/senaite.app.listing
  add-ons/senaite/senaite.app.spotlight
  add-ons/senaite/senaite.app.supermodel
  add-ons/senaite/senaite.impress
  add-ons/senaite/senaite.jsonapi
  add-ons/senaite/senaite.storage
  add-ons/senaite/senaite.instruments
  add-ons/bika/bika.ui
  add-ons/bika/bika.coa
  add-ons/bika/bika.extras
  add-ons/bika/bika.reports
  add-ons/senaite/senaite.crms
  add-ons/senaite/senaite.sampleimporter
  add-ons/senaite/senaite.samplepointlocations
  add-ons/senaite/senaite.timeseries
  add-ons/bika/bika.wine
  add-ons/senaite/senaite.receivedemail
  add-ons/custom/senaite.addon.test
  add-ons/custom/senaite.samplecustom

[instance]
recipe = plone.recipe.zope2instance
http-address = 0.0.0.0:8080
user = admin:admin
wsgi = on
eggs =
  ${buildout:eggs}

[versions]
# senaite.lims = 2.6.0
